@media (max-width:1024px) {
    .big-div-child1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
    }
    .title {
        font-size: 50px;
        display: flex;
        justify-content: center;
    }
    .section4 {
        display: flex;
        justify-content: center;
    }
    .section5 {
        height: 1730px;
    }
    .section5-div-wraper {
        flex-wrap: wrap;
        height: 1600px;
    }
    .section5-div-wraper-child2 {
        margin-top: 150px;
    }
    .section7-div-bg-empty {
        max-width: 550px;
        width: 100%;
    }
    .section5-div-wraper-child1 {
        margin-bottom: 30px;
    }
}



@media (max-width: 888px) {
    .section7-div-bg-empty {
        max-width: 450px;
        width: 100%;
    }
}



@media (max-width: 768px) {
    .header-nav {
        display: none;
    }
    .burger-icon {
        display: block;
        animation: 1.5s ease-in easyIn;
        transition: 0.5s ease-in-out;

        &:hover {
            color: blue;
            transform: rotate(180deg);
        }
    }
    .border-on-banner {
        left: 70px;
    }
    .banner {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        max-width: 768px;
        width: 100%;
        height: 500px;
    }
    .title {
        font-size: 40px;
        display: flex;
        justify-content: center;
    }
    .section3 {
        height: 1350px;
    }
    .section3-div-wraper {
        max-width: 300px;
        width: 100%;
        height: 1300px;
    }
    .section3-div-img1 {
        width: 265px;
        height: 395px;
        left: 17.5px;
        top: 50px;
    }
    .section3-div-img3 {
        width: 230px;
        height: 160px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 0 0 0 10px #a68053;
        left: 35px;
        top: 400px;
    }
    .section3-div-p1 {
        top: 590px;
        left: 13px;

        p {
            text-align: center;
            width: 270px;            
        }
    }
    .section3-div-img2 {
        top: 725px;
        left: 13px;
    }
    .section3-div-img4 {
        top: 890px;
        left: 45px;
        width: 200px;
        height: 270px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 0 0 0 10px #a68053;
    }
    .section3-div-p2 {
        top: 1190px;
        left: 15px;

        p {
            width: 270px;
        }
    }
    .empty1, .empty2 {
        width: 110px;
        margin-left: 80px;
    }
    .section4-div-wraper {
        height: 1450px;
    }
    .section4-div-bg {
        top: 250px;
    }
    .section4-div-bg2 {
        display: block;
    }
    .section4-div-img-wraper3 {
        left: 50%; top: 50%; transform: translate(-50%, -50%);
        top: -60px;
    }
    .section4-div-img-wraper2 {
        left: 50%; top: 50%; transform: translate(-50%, -50%);
        top: 650px;
    }
    .section5-div-wraper-child1 {
        width: 460px;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .section5-div-wraper-child2 {
        width: 460px;
    }
    .section6-div-child1 {
        width: 350px;
    }
    .section6-div-child2 {
        max-width: 500px;
        width: 100%;
        margin-bottom: 300px;
    }
    .section6-div-child3-img {
        width: 430px;
        margin-bottom: 400px;
    }
    .section6-div-child4-pdiv {
        max-width: 450px;
        width: 100%;
        bottom: 50px;

        & h1 {
            font-size: 50px;
            font-weight: 500;
        }

        & p {
            font-size: 18px;
        }
    }
    .section7-div-wraper {
        flex-wrap: wrap;
    }
    .section7-div-img-left, .section7-div-img-right {
        max-width: 768px;
        width: 100%;
        height: 550px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .section7-div-center {
        max-width: 768px;
        width: 100%;
        height: 280px;
        padding: 40px 20px;
    }
    .section7-div-bg-empty {
        display: none;
    }

}





@media (max-width: 480px) {
    .header {
        padding: 20px 40px;
        max-width: 480px;
        width: 100%;

        .logo {
            font-size: 20px;
        }

        &.sticky {
            padding: 5px 40px;

            .logo {
                font-size: 20px;
            }
        }
    }
    .burger-icon {
        font-size: 20px;
    }
    .banner {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        max-width: 480px;
        width: 100%;
        height: 400px;
    }
    .border-on-banner {
        bottom: 30px;
        left: 30px;
        width: 260px;
        height: 100px;
        box-shadow: 0 0 5px 5px #fff;
    }
    .border-on-banner-h1 {
        font-size: 40px;
        color: #fff;
    }
    .border-on-banner-h3 {
        font-size: 18px;
        color: #fff;
    }
    .big-div-child1-3-in {
        padding: 0 10px;
    }
    .big-div-child1-3 {
        max-height: 375px;
        height: auto;
        padding: 20px 0;
    }
    .title {
        font-size: 27px;
        display: flex;
        justify-content: center;
    }
    .section4-div-wraper {
        height: 1350px;
    }
    .section4-div-img-wraper2 {
        left: 50%; top: 50%; transform: translate(-50%, -50%);
        top: 600px;
    }
    .section4-div-img-wraper3 {
        left: 50%; top: 50%; transform: translate(-50%, -50%);
        top: 0;
    }
    .section4-div-img-right-h1 {
        font-size: 40px;
        max-width: 280px;
        width: 100%;
        margin: 0 auto;
    }
    .section4-div-img-left {
        max-width: 280px;
        width: 100%;
        height: 500px;
        left: 50%; top: 50%; transform: translate(-50%, -50%);
    }
    .section4-div-img-right {
        max-width: 280px;
        width: 100%;
        height: 500px;
        left: 50%; top: 50%; transform: translate(-50%, -50%);
        position: absolute;
        margin-top: 50px;
    }
    .section4-div-bg {
        top: 250px;
        height: 200px;
    }
    .section4-div-bg2 {
        height: 200px;
        top: 820px;
    }
    .section4-div-img-left-p {
        max-width: 280px;
        width: 100%;
        left: 50%; top: 50%; transform: translate(-50%, -50%);
        top: 630px;
    }
    .section5-div-wraper-child1 {
        width: 280px;
        height: 500px;
    }
    .section5-div-wraper-child2 {
        width: 280px;
        height: 500px;
    }
    .section5 {
        height: 1290px;
    }
    .section5-div-wraper {
        flex-wrap: wrap;
        height: 1250px;
        margin-top: 30px;
    }
    .section5-div-wraper-child1-div1 {
        left: 50%; top: 50%; transform: translate(-50%, -50%);
        top: 570px;
        width: 250px;
        height: 220px;
    }
    .section6-div-child1 {
        width: 400px;
    }
    .section6-div-child3-img {
        background-size: contain;
        width: 280px;
        height: 400px;
    }
    .section7-div-img-left, .section7-div-img-right {
        max-width: 480px;
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .section7-div-center {
        max-width: 480px;
        width: 100%;
        height: 280px;
        padding: 40px 20px;
    }

}

@media (max-width:440px) {
    .section7-div-center {
        height: 350px;
        padding: 40px 20px;
    }
}


@media (max-width:320px) {
    .banner {
        height: 320px;
    }
    .border-on-banner {
        left: 20px;
    }
}