.header {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 1800px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 100px;
  z-index: 10;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.header.sticky {
  padding: 5px 100px;
  background: silver;
  -webkit-transition: 500ms ease-in;
  transition: 500ms ease-in;
}

.header.sticky .logo, .header.sticky .burger-icon, .header.sticky ul li a {
  color: #000;
}

.header.sticky .logo:hover, .header.sticky .burger-icon:hover, .header.sticky ul li a:hover {
  color: blue;
}

.header .logo {
  position: relative;
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-animation: 1.5s ease-in easyIn;
          animation: 1.5s ease-in easyIn;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.header .logo:hover {
  color: blue;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.header ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: 1.5s ease-in easyIn;
          animation: 1.5s ease-in easyIn;
}

.header ul li {
  position: relative;
}

.header ul li a {
  position: relative;
  margin: 0 15px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.header ul li a:hover {
  color: blue;
}

.burger-icon {
  color: #fff;
  font-size: 30px;
  display: none;
}

.banner {
  position: relative;
  max-width: 1370px;
  width: 100%;
  height: 100vh;
  background-image: url(../assets/img/bg1.jpg);
  background-size: cover;
  background-position: center;
}

.border-on-banner {
  position: absolute;
  width: 340;
  height: 150px;
  border-style: solid;
  -webkit-box-shadow: 0 0 5px 5px #3f3f39;
          box-shadow: 0 0 5px 5px #3f3f39;
  bottom: 70px;
  left: 150px;
  padding: 10px;
}

.border-on-banner-h1 {
  font-size: 48px;
  margin-bottom: 15px;
  color: #3f3f39;
}

.border-on-banner-h3 {
  font-size: 26px;
  color: #3f3f39;
}

.section2 {
  background-color: #d9d9d9;
}

.section2-big-div {
  max-width: 1140px;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

.title {
  font-size: 79px;
  color: #616157;
  margin-top: 40px;
  margin-bottom: 40px;
}

.big-div-child1 {
  max-width: 1140px;
  width: 100%;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.big-div-child1-3 {
  max-width: 362px;
  width: 100%;
  height: 375px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px 5px #c4bbbb;
          box-shadow: 0 0 5px 5px #c4bbbb;
  margin: 10px 10px;
}

.big-div-child1-3:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.big-div-child1-3-in {
  max-width: 325px;
  width: 100%;
  height: 312px;
}

.big-div-child1-3-in-img {
  background-image: url(../assets/img/1.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 325px;
  width: 100%;
  height: 230px;
}

.big-div-child1-3-in-img:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.img2 {
  background-image: url(../assets/img/2.jpg);
}

.img2:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.img3 {
  background-image: url(../assets/img/3.jpg);
}

.img3:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.date {
  color: #b3b3b3 !important;
}

.empty {
  height: 14px;
  width: 1px;
  background-color: #b3b3b3 !important;
  margin: 0 5px;
}

.post {
  font-size: 25px;
}

.section3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#332f29), to(#2b3329));
  background-image: linear-gradient(#332f29, #2b3329);
  background-size: cover;
  width: 100%;
  height: auto;
}

.section3-div-wraper {
  width: 600px;
  height: 650px;
  position: relative;
}

.section3-div-img1 {
  background-image: url(../assets/img/4.jpg);
  background-size: contain;
  width: 200px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50px;
  left: 50px;
}

.section3-div-img1:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  z-index: 1;
}

.section3-div-p1 {
  position: absolute;
  top: 90px;
  left: 270px;
}

.section3-div-p1 p {
  width: 225px;
  color: #fff;
  margin-top: 20px;
  font-size: 16px;
  opacity: 0.5;
}

.section3-div-p1 p:hover {
  opacity: 1;
}

.section3-div-p1 h4 {
  color: #a2a6a1;
  font-size: 30px;
  letter-spacing: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: top;
  opacity: 0.5;
}

.section3-div-p1 h4:hover {
  opacity: 1;
}

.section3-div-img2 {
  background-image: url(../assets/img/5.jpg);
  top: 240px;
  left: 215px;
  background-size: contain;
  width: 270px;
  height: 180px;
  background-repeat: no-repeat;
  position: absolute;
}

.section3-div-img2:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.section3-div-img3 {
  background-image: url(../assets/img/6.jpg);
  top: 400px;
  left: 0;
  background-size: contain;
  width: 190px;
  height: 110px;
  background-repeat: no-repeat;
  position: absolute;
}

.section3-div-img3:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.section3-div-img4 {
  background-image: url(../assets/img/7.jpg);
  top: 450px;
  left: 215px;
  background-size: contain;
  width: 130px;
  height: 170px;
  background-repeat: no-repeat;
  position: absolute;
}

.section3-div-img4:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.section3-div-p2 {
  top: 480px;
  left: 360px;
  position: absolute;
  color: #907d59 !important;
  text-align: center;
}

.section3-div-p2 h6 {
  font-size: 22px;
}

.section3-div-p2 p {
  width: 180px;
  font-size: 16px;
  text-align: center;
}

.empty1, .empty2 {
  width: 188px;
  height: 2px;
  background-color: #907d59 !important;
  margin-bottom: 5px;
}

.section3-div-p2-icon {
  letter-spacing: 6px;
  margin-bottom: 5px;
}

.sec3-icon {
  color: #907d59 !important;
}

.section4 {
  background-color: #fff;
}

.section4-div-wraper {
  max-width: 1140px;
  width: 100%;
  height: 780px;
  position: relative;
}

.section4-div-bg {
  background-color: #a68053;
  max-width: 1140px;
  width: 100%;
  height: 285px;
  position: absolute;
  top: 200px;
}

.section4-div-bg2 {
  background-color: #a68053;
  max-width: 1140px;
  width: 100%;
  height: 285px;
  position: absolute;
  top: 900px;
  display: none;
}

.section4-div-img-wraper {
  max-width: 860px;
  width: 100%;
  height: 700px;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section4-div-img-wraper2 {
  max-width: 380px;
  width: 100%;
  height: 600px;
  position: absolute;
  left: 20%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section4-div-img-left {
  background-image: url(../assets/img/8.jpg);
  max-width: 380px;
  width: 100%;
  height: 570px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section4-div-img-left-p {
  position: absolute;
  max-width: 380px;
  width: 100%;
  font-size: 16px;
  color: #000;
  top: 590px;
  left: 51%;
  top: 110%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section4-div-icon {
  color: #616157 !important;
  margin-top: 20px;
  margin-left: 10px;
  letter-spacing: 5px;
  font-size: 20px;
}

.sec4-icon {
  color: #616157 !important;
}

.section4-div-img-wraper3 {
  max-width: 380px;
  width: 100%;
  height: 600px;
  position: absolute;
  top: 50px;
  left: 74%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section4-div-img-right-h1 {
  font-size: 48px;
  color: #a2a6a1;
  padding-top: 20px;
  margin-bottom: 20px;
}

.section4-div-img-right {
  background-image: url(../assets/img/9.jpg);
  max-width: 380px;
  width: 100%;
  height: 570px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.section5 {
  background-color: #d9d9d9;
  width: 100%;
  height: 900px;
}

.section5-div-wraper {
  max-width: 1140px;
  width: 100%;
  height: 800px;
}

.section5-div-wraper-child1 {
  background-image: url(../assets/img/10.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 488px;
  height: 650px;
  position: relative;
  margin-right: 40px;
  opacity: 0.7;
}

.section5-div-wraper-child1:hover {
  opacity: 1;
  z-index: 1;
}

.section5-div-wraper-child1-div1 {
  background-color: #fff;
  width: 310px;
  height: 200px;
  position: absolute;
  bottom: -150px;
  left: 90px;
  padding: 20px;
  text-align: center;
}

.section5-div-wraper-child1-div1-a {
  color: #a68053 !important;
}

.section5-div-wraper-child1-div1-empty {
  width: 75px;
  height: 1px;
  background-color: #a68053 !important;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: -15px;
}

.section5-div-wraper-child2 {
  background-image: url(../assets/img/11.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 535px;
  height: 800px;
  opacity: 0.7;
}

.section5-div-wraper-child2:hover {
  opacity: 1;
  z-index: 2;
}

.section6 {
  background-color: #fff;
  width: 100%;
  height: 1015px;
}

.section6-div-wraper {
  max-width: 1140px;
  width: 100%;
  height: 1015px;
  position: relative;
}

.section6-div-child1 {
  background-color: #dfdfd6;
  max-width: 570px;
  width: 100%;
  height: 900px;
}

.section6-div-child2 {
  background-color: #a68053;
  max-width: 775px;
  width: 100%;
  height: 395px;
  position: absolute;
  margin-bottom: 200px;
}

.section6-div-child3-img {
  background-image: url(../assets/img/12.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 680px;
  width: 100%;
  height: 415px;
  position: absolute;
  margin-bottom: 350px;
}

.section6-div-child3-img:hover {
  background-size: contain;
}

.section6-div-child4-pdiv {
  max-width: 775px;
  width: 100%;
  height: 395px;
  position: absolute;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  color: #a68053;
}

.section6-div-child4-pdiv-h1 {
  font-size: 70px;
  font-weight: 700;
}

.section6-div-child4-pdiv-p {
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #000;
}

.section6-div-child4-pdiv-a {
  color: #a68053;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 700;
}

.section6-div-child4-pdiv-empty {
  width: 130px;
  height: 1px;
  background-color: #a68053 !important;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 5px;
}

.section7 {
  width: 100%;
  height: 550px;
}

.section7-div-wraper {
  max-width: 1800px;
  width: 100%;
  height: 550px;
  background-color: #000;
  position: relative;
}

.section7-div-img-left {
  max-width: 650px;
  width: 100%;
  height: 550px;
  background-image: url(../assets/img/13.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section7-div-center {
  max-width: 470px;
  width: 100%;
  height: 550px;
  background-color: #959e8c;
  z-index: 2;
  padding: 0 30px;
}

.section7-div-center-h5 {
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
}

.section7-div-center-h3 {
  font-size: 25px;
  font-weight: 400;
  color: #ccd4c4 !important;
  word-wrap: break-word;
  text-align: center;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 20px;
}

.section7-div-center-p {
  font-size: 19px;
  color: #fff;
  word-wrap: break-word;
  text-align: center;
  line-height: 1.6;
  margin-bottom: 30px;
}

.section7-div-center-icon {
  font-size: 16px;
  letter-spacing: 16px;
}

.sec7-icon {
  color: #fff;
}

.section7-div-img-right {
  max-width: 650px;
  width: 100%;
  height: 550px;
  background-image: url(../assets/img/14.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section7-div-bg-empty {
  max-width: 650px;
  width: 100%;
  height: 145px;
  background-color: #bfa065;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@-webkit-keyframes easyIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes easyIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */