html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 10;
    transition: 300ms ease-out;

    &.sticky {
        padding: 5px 100px;
        background: silver;
        transition: 500ms ease-in;

        .logo, .burger-icon, ul li a {
            color: #000;

            &:hover {
                color: blue;
            }
        }
    }

    .logo {
        position: relative;
        color: #fff;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 2px;
        animation: 1.5s ease-in easyIn;
        transition: 0.5s ease-in-out;

        &:hover {
            color: blue;
            transform: scale(1.1, 1.1);
            transform: rotate(360deg);
        }
    }

    ul {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: 1.5s ease-in easyIn;

        li {
            position: relative;
            
            a {
                position: relative;
                margin: 0 15px;
                font-weight: 500;
                color: #fff;
                letter-spacing: 1px;
                transition: 0.6s;

                    &:hover {
                        color: blue;
                    }
            }
        }
    }
}


// burger icon
.burger-icon {
    color: #fff;
    font-size: 30px;
    display: none;
    cursor: pointer;
    }
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../assets/img/bg1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.border-on-banner {
    position: absolute;
    width: 340;
    height: 150px;
    border-style: solid;
    box-shadow: 0 0 5px 5px #3f3f39;
    bottom: 70px;
    left: 150px;
    padding: 10px;
}
.border-on-banner-h1 {
    font-size: 48px;
    margin-bottom: 15px;
    color: #3f3f39;
}
.border-on-banner-h3 {
    font-size: 26px;
    color: #3f3f39;
}

// section2
.section2 {
    background-color: #d9d9d9;
}
.section2-big-div {
    max-width: 1140px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.title {
    font-size: 79px;
    color: #616157;
    margin-top: 40px;
    margin-bottom: 40px;
}
.big-div-child1 {
    max-width: 1140px;
    width: 100%;
    height: auto;
    justify-content: space-between;
}
.big-div-child1-3 {
    max-width: 362px;
    width: 100%;
    height: 375px;
    background-color: #fff;
    box-shadow: 0 0 5px 5px rgb(196, 187, 187);
    margin: 10px 10px;
    overflow: hidden; 
}
.big-div-child1-3-in {
    max-width: 325px;
    width: 100%;
    height: 312px;
}
.big-div-child1-3-in-img-wraper {
    max-width: 325px;
    width: 100%;
    height: 230px;
    overflow: hidden;

    &:hover { 
        .big-div-child1-3-in-img {
            transform: scale(1.2, 1.2);
        }
    }
}
.big-div-child1-3-in-img {
    width: 100%;
    height: 100%;
    transition: 0.6s;
}
.date {
    color: #b3b3b3 !important;
}
.empty {
    height: 14px;
    width: 1px;
    background-color: #b3b3b3 !important;
    margin: 0 5px;
}
.post {
    font-size: 25px;
}


// section3
.section3 {
    background-image: linear-gradient(#332f29, #2b3329);
    background-size: cover;
    width: 100%;
    height: auto;
}
.section3-div-wraper {
    width: 600px;
    height: 650px;
    position: relative;
}
.section3-div-img1 {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50px;
    left: 50px;
    transition: 0.6s;


    &:hover {
        transform: scale(1.2, 1.2);
        z-index: 1;
    }
}
.section3-div-p1 {
    position: absolute;
    top: 90px;
    left: 270px;
}
.section3-div-p1 p {
    width: 250px;
    color: #fff;
    margin-top: 20px;
    font-size: 16px;
    opacity: 0.5;
    transition: 0.6s;

    &:hover {
        opacity: 1;
    }
}
.section3-div-p1 h4 {
    color: #a2a6a1;
    font-size: 30px;
    letter-spacing: 2px;
    display: flex;
    vertical-align: top;
    opacity: 0.5;
    transition: 0.6s;

    &:hover {
        opacity: 1;
    }
}
.section3-div-img2 {
    top: 240px;
    left: 215px;
    width: 270px;
    height: 180px;
    position: absolute;
    transition: 0.6s;


    &:hover {
        transform: scale(1.2, 1.2);
    }
}
.section3-div-img3 {
    top: 400px;
    left: 0;
    width: 190px;
    height: 110px;
    position: absolute;
    transition: 0.6s;


    &:hover {
        transform: scale(1.2, 1.2);
    }
}
.section3-div-img4 {
    top: 450px;
    left: 215px;
    width: 130px;
    height: 170px;
    position: absolute;
    transition: 0.6s;


    &:hover {
        transform: scale(1.2, 1.2);
    }
}
.section3-div-p2 {
    top: 480px;
    left: 360px;
    position: absolute;
    color: #907d59 !important;
    text-align: center;
}
.section3-div-p2 h6 {
    font-size: 22px;
}
.section3-div-p2 p {
    width: 180px;
    font-size: 16px;
    text-align: center;
}
.empty1, .empty2 {
    width: 188px;
    height: 2px;
    background-color: #907d59 !important;
    margin-bottom: 5px;
}
.section3-div-p2-icon {
    letter-spacing: 6px;
    margin-bottom: 5px;
}
.sec3-icon {
   color: #907d59 !important;
}

// section4
.section4 {
    background-color: #fff;
}
.section4-div-wraper {
    max-width: 1140px;
    width: 100%;
    height: 780px;
    position: relative;
}
.section4-div-bg {
    background-color: #a68053;
    max-width: 1140px;
    width: 100%;
    height: 285px;
    position: absolute;
    top: 200px;
}
.section4-div-bg2 {
    background-color: #a68053;
    max-width: 1140px;
    width: 100%;
    height: 285px;
    position: absolute;
    top: 900px;
    display: none;
}
.section4-div-img-wraper {
    max-width: 860px;
    width: 100%;
    height: 700px;
    position: relative;
    left: 50%; top: 50%; transform: translate(-50%, -50%);
}
.section4-div-img-wraper2 {
    max-width: 380px;
    width: 100%;
    height: 600px;
    position: absolute;
    left: 20%; top: 40%; transform: translate(-50%, -50%);
}
.section4-div-img-left {
    max-width: 380px;
    width: 100%;
    height: 570px;
    position: absolute;
    left: 50%; top: 50%; transform: translate(-50%, -50%);
}
.section4-div-img-left-p {
    position: absolute;
    max-width: 380px;
    width: 100%;
    font-size: 16px;
    color: #000;
    top: 590px;
    left: 51%; top: 110%; transform: translate(-50%, -50%);
}
.section4-div-icon {
    color: #616157 !important;
    margin-top: 20px;
    margin-left: 10px;
    letter-spacing: 5px;
    font-size: 20px;
}
.sec4-icon {
    color:  #616157 !important;
}
.section4-div-img-wraper3 {
    max-width: 380px;
    width: 100%;
    height: 600px;
    position: absolute;
    top: 50px;
    left: 74%; top: 45%; transform: translate(-50%, -50%);
}
.section4-div-img-right-h1 {
    font-size: 48px;
    color: #a2a6a1;
    padding-top: 20px;
    margin-bottom: 20px;
}
.section4-div-img-right {
    max-width: 380px;
    width: 100%;
    height: 570px;
    margin: 0 auto;
}


// section5
.section5 {
    background-color: #d9d9d9;
    width: 100%;
    height: 900px;
}
.section5-div-wraper {
    max-width: 1140px;
    width: 100%;
    height: 800px;
}
.section5-div-wraper-child1 {
    width: 488px;
    height: 650px;
    position: relative;
    margin-right: 40px;
    opacity: 0.7;
    transition: 0.6s;

    &:hover {
        opacity: 1;
        z-index: 1;
    }
}
.section5-div-wraper-child1-div1 {
    background-color: #fff;
    width: 310px;
    height: 200px;
    position: absolute;
    bottom: -150px;
    left: 90px;
    padding: 20px;
    text-align: center;
}
.section5-div-wraper-child1-div1-a {
    color: #a68053 !important;
}
.section5-div-wraper-child1-div1-empty {
    width: 75px;
    height: 1px;
    background-color: #a68053 !important;
    align-self: center;
    margin-top: -15px;
}
.section5-div-wraper-child2 {
    background-image: url(../assets/img/11.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 535px;
    height: 800px;
    opacity: 0.7;
    transition: 0.6s;

    &:hover {
        opacity: 1;
        z-index: 2;
    }
}


// section6
.section6 {
    background-color: #fff;
    width: 100%;
    height: 1015px;
}
.section6-div-wraper {
    max-width: 1140px;
    width: 100%;
    height: 1015px;
    position: relative;
}
.section6-div-child1 {
    background-color: #dfdfd6;
    max-width: 570px;
    width: 100%;
    height: 900px;
}
.section6-div-child2 {
    background-color: #a68053;
    max-width: 775px;
    width: 100%;
    height: 395px;
    position: absolute;
    margin-bottom: 200px;
}
.section6-div-child3-img {
    object-fit: cover;
    object-position: top;
    max-width: 680px;
    width: 100%;
    height: 415px;
    position: absolute;
    margin-bottom: 350px;
    transition: 0.6s;

    &:hover {
        width: 300px;
    }
}
.section6-div-child4-pdiv {
    max-width: 775px;
    width: 100%;
    height: 395px;
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: #a68053;
}
.section6-div-child4-pdiv-h1 {
    font-size: 70px;
    font-weight: 700;
}
.section6-div-child4-pdiv-p {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #000;
}
.section6-div-child4-pdiv-a {
    color: #a68053;
    font-size: 1.25rem;
    letter-spacing: 3px;
    font-weight: 700;
}
.section6-div-child4-pdiv-empty {
    width: 130px;
    height: 1px;
    background-color: #a68053 !important;
    align-self: center;
    margin-top: 5px;
}


// section7
.section7 {
    width: 100%;
    height: 550px;
}
.section7-div-wraper {
    max-width: 1769px;
    width: 100%;
    height: 550px;
    background-color: #000;
    position: relative;
}
.section7-div-img-left {
    max-width: 650px;
    width: 100%;
    height: 550px;
    background-image: url(../assets/img/13.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.section7-div-center {
    max-width: 470px;
    width: 100%;
    height: 550px;
    background-color: #959e8c;
    z-index: 2;
    padding: 0 30px;
}
.section7-div-center-h5 {
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
}
.section7-div-center-h3 {
    font-size: 25px;
    font-weight: 400;
    color: #ccd4c4 !important;
    word-wrap: break-word;
    text-align: center;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
}
.section7-div-center-p {
    font-size: 19px;
    color: #fff;
    word-wrap: break-word;
    text-align: center;
    line-height: 1.6;
    margin-bottom: 30px;
}
.section7-div-center-icon {
    font-size: 16px;
    letter-spacing: 16px;
}
.sec7-icon {
    color: #fff;
}
.section7-div-img-right {
    max-width: 650px;
    width: 100%;
    height: 550px;
    background-image: url(../assets/img/14.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.section7-div-bg-empty {
    max-width: 650px;
    width: 100%;
    height: 145px;
    background-color: #bfa065;
    position: absolute;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
}



// section8
.section8 {
    width: 100%;
    background-color: #000;
}
.section8-map {
   margin: 50px auto;
   border-radius: 15px;
   box-shadow: 0 0 8px 8px #616157;
   opacity: 0.4;
   transition: 0.6s;
   max-width: 700px;
   width: 100%;

   &:hover {
       opacity: 0.7;
   }
}
.section8-contact-navigation-ul-li-div {
    width: 230px;
    height: 50px;
    border-style: solid;
    border-color: #616157;
    border-width: 2px 0 0 0;
    margin: 5px;
    outline: none;
}
span {
    color: #616157;
}
.section8-contact-navigation-ul {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
}
.section8-contact-navigation-a {
    color: #616157;
}





// display flex
.center {
    display: flex;
    justify-content: center;
}
.center2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.row {
    display: flex;
    flex-direction: row;
}
.row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.center3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}



// header animations
@keyframes easyIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}